.paysage img{
    margin-top: 40px;
    border-radius: 20px;
    height:300px;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.textpaysage{
    text-align:center;
    transform: translateY(-10.5rem);
    font-size: 2rem;
    width:84%;
    margin-left: 8%;
    margin-right: 8%;
    color: #fff;
}

@media screen and (max-width: 768px){
    .paysage img{
        transform: translateY(-2rem);
        height:250px;
        width:80%;
      
    }
    .textpaysage{font-size:1.5rem}; 
};