.header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color:#FF6060;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}

.TITRE{
    font-size:5rem;
    }

.NAV{
    display:flex;
    list-style-type: none;
    flex-direction: row;
    justify-content:space-between;
    min-width:180px;
    margin-top: 30px;
    color:#FF6060; 
    font-size:2.1rem;
    
}

a{ color:#FF6060;margin-right: 20px; }


@media (max-width: 768px) {


    .NAV{font-size:1.2rem;
        margin-top: 40px;
        justify-content:right;
    }
    .TITRE{
        font-size:3rem;
        margin-top: 20px;
        }
    
}